work/NMD324 — Year in Film/(2017m09d27) 2017sept27/Blackmagic Design/DaVinci Resolve/Support/easyDCP/xsd/interop-cinecanvas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    targetNamespace="http://www.digicine.com/CINE-CANVAS-2007-09-02#"
    xmlns:tidcst="http://www.digicine.com/CINE-CANVAS-2007-09-02#"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- DCSubtitle -->
  <xs:element name="DCSubtitle" type="tidcst:DCSubtitleType"/>

  <xs:complexType name="DCSubtitleType">
    <xs:sequence>
      <xs:sequence>
	<xs:element name="SubtitleID" type="tidcst:UUID" minOccurs="0" />
	<xs:element name="MovieTitle" type="tidcst:UserText" minOccurs="0" />
	<xs:element name="ReelNumber" type="xs:string" minOccurs="0" />
	<xs:element name="Language" type="xs:string" minOccurs="0" />
	<xs:element name="LoadFont" type="tidcst:LoadFontType" minOccurs="0" />
      </xs:sequence>

      <xs:choice maxOccurs="unbounded">
	<xs:element name="Subtitle" type="tidcst:SubtitleType"/>
	<xs:element name="Font" type="tidcst:FontType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Version" type="xs:decimal" use="required" />
  </xs:complexType>

  <!-- LoadFont -->
  <xs:complexType name="LoadFontType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
	<xs:attribute name="Id" type="xs:string"/>
	<xs:attribute name="URI" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Subtitle -->
  <xs:complexType name="SubtitleType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Text" type="tidcst:TextType"/>
      <xs:element name="Image" type="tidcst:ImageType"/>
      <xs:element name="Font" type="tidcst:FontType"/>
    </xs:choice>
    <xs:attribute name="SpotNumber" type="xs:string" use="optional"/>
    <xs:attribute name="TimeIn" type="tidcst:TimeCodeType" use="required"/>
    <xs:attribute name="TimeOut" type="tidcst:TimeCodeType" use="required"/>
    <xs:attribute name="FadeUpTime" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="FadeDownTime" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <!-- Image -->
  <xs:complexType name="ImageType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
	<xs:attributeGroup ref="tidcst:PositionableObjectGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Text -->
  <xs:complexType name="TextType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Font" type="tidcst:FontType"/>
      <xs:element name="Ruby" type="tidcst:RubyType"/>
      <xs:element name="Space" type="tidcst:SpaceType"/>
      <xs:element name="HGroup" type="xs:string"/>
      <xs:element name="Rotate" type="tidcst:RotateType"/>
    </xs:choice>
    <xs:attributeGroup ref="tidcst:PositionableObjectGroup"/>
    <xs:attribute name="Direction" use="optional" default="horizontal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Font -->
  <xs:complexType name="FontType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Subtitle" type="tidcst:SubtitleType"/>
      <xs:element name="Text" type="tidcst:TextType"/>
      <xs:element name="Font" type="tidcst:FontType"/>
    </xs:choice>

    <xs:attribute name="AspectAdjust" use="optional" type="xs:decimal" />

    <xs:attribute name="Color" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:hexBinary">
          <xs:length value="4"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Effect" use="optional" default="none">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="none"/>
          <xs:enumeration value="border"/>
          <xs:enumeration value="shadow"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="EffectColor" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:hexBinary">
          <xs:length value="4"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Id" type="xs:string" use="optional"/>

    <xs:attribute name="Italic" use="optional" default="no">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="yes"/>
          <xs:enumeration value="no"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Size" use="optional" default="42">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger"/>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Script" use="optional" default="normal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="super"/>
          <xs:enumeration value="sub"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Spacing" use="optional" type="xs:string" />

    <xs:attribute name="Underlined" use="optional" default="no">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="yes"/>
          <xs:enumeration value="no"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Weight" use="optional" default="normal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="bold"/>
          <xs:enumeration value="normal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- TimeCode Type -->
  <xs:simpleType name="TimeCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9]:[0-2][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Ruby Type -->
  <xs:complexType name="RubyType">
    <xs:sequence>
      <xs:element name="Rb">
        <xs:complexType mixed="true">
	  <xs:choice minOccurs="0" maxOccurs="unbounded">
	    <xs:element name="Space" type="tidcst:SpaceType"/>
	  </xs:choice>
	</xs:complexType>
      </xs:element>

      <xs:element name="Rt">
        <xs:complexType mixed="true">
	  <xs:choice minOccurs="0" maxOccurs="unbounded">
	    <xs:element name="Space" type="tidcst:SpaceType"/>
	  </xs:choice>
	  
	  <xs:attribute name="AspectAdjust" use="optional" type="xs:string" />
	  <xs:attribute name="Size" type="xs:string" use="optional" default="0.5"/>
	  <xs:attribute name="Position" use="optional" default="before">
	    <xs:simpleType>
	      <xs:restriction base="xs:string">
		<xs:enumeration value="before"/>
		<xs:enumeration value="after"/>
	      </xs:restriction>
	    </xs:simpleType>
	  </xs:attribute>
	  <xs:attribute name="Spacing" type="xs:string" use="optional" default="0.5"/>
	  <xs:attribute name="Offset" type="xs:string" use="optional" default="0.5"/>
	</xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Rotate Type -->
  <xs:complexType name="RotateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Direction" use="optional" default="none">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="none"/>
              <xs:enumeration value="left"/>
              <xs:enumeration value="right"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Space Type -->
  <xs:complexType name="SpaceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Size" type="xs:string" use="optional" default="1.0"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- PositionableObject attributes -->
  <xs:attributeGroup name="PositionableObjectGroup">
    <xs:attribute name="HAlign" use="optional" default="center">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="center"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="HPosition" use="optional" default="0">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="-100"/>
          <xs:maxInclusive value="100"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="VAlign" use="optional" default="center">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="center"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="top"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="VPosition" use="optional" default="0">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="-100"/>
          <xs:maxInclusive value="100"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- UUID Type -->
  <xs:simpleType name="UUID">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- UserText Type -->
  <xs:complexType name="UserText">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="xs:language" use="optional" default="en"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
